<table class="table table-bordered">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Темп. воздуха</th>
            <th>Отн. влажность воздуха</th>
            <th>Точка росы</th>
            <th>Атм. давление</th>
            <th>Направление ветра</th>
            <th>Скорость ветра</th>
            <th>Облачность</th>
            <th>Нижн. граница видимости</th>
            <th>Горизонтальная видимость</th>
            <th>Погодные явления</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>