<form method="post" enctype="multipart/form-data" asp-controller="WeatherForecast" asp-action="UploadFiles">
    <span>Выбрать файлы:</span>
    <input type="file" name="files" multiple />
    <input type="submit" value="Загрузить" />
    <br/>
    <h3>@ViewData["uploadStatus"]</h3>
</form>