@{
    ViewData["Title"] = "Home Page";
}

<div class="list-group">
    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-area="" asp-controller="WeatherForecast" asp-action="Index">
        Просмотр архивов погодных условий в городе Москве.
    </a>
    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-area="" asp-controller="WeatherForecast" asp-action="Insert">
        Загрузка архивов погодных условий в городе Москве.
    </a>
</div>